/* General Body Style */
html {
  font-size: 14px;
  position: relative;
  min-height: 100%;
}

body {
  background-color: #f4f5f7;
  margin-bottom: 60px; /* Ensure enough space for footer */
}

/* Flexbox Layout for Body */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensures the body takes at least full screen height */
}

/* Sidebar Style */
.sidebar {
  width: 250px;
  position: fixed;
  top: 60px;
  bottom: 0;
  background-color: #222;
  overflow-y: auto;
}

.sidebar a {
  display: block;
  padding: 10px 20px;
  color: #c9c9d9;
  font-size: 14px;
  text-decoration: none;
  transition: 0.2s;
}

.sidebar a:hover {
  background: #2a2a3c;
  color: white;
}

/* Content Section */
.content {
  margin-top: 30px;
  margin-left: 250px;
  padding: 50px;
  flex-grow: 1; /* Content takes remaining space */
}

html[dir="rtl"] .content {
  margin-right: 250px;
  margin-left: 0;
}

/* Footer Style */
footer {
  background-color: #007bff;
  color: white;
  padding: 30px 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: auto; /* Pushes footer to the bottom */
}

footer a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  transition: 0.3s;
}

footer a:hover {
  text-decoration: underline;
}

/* Responsive Design for Font Size */
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
